/** グループページパーツ設定 **/
@import '../variable';

@keyframes fadeIn {
	0% {
		right: -100px;
	}
	100% {
		right: 0;
	}
}

.fixedBox {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	overflow: scroll;
	animation: fadeIn 0.1s linear;
}

.navListArea {
	background: $white-skelton-thick;
	width: auto;

}

.card {
	cursor: pointer;
	color: $black;
	padding: 5px 10px;
	text-align: left;
	text-decoration: none;
	border-bottom: 1px solid $black-skelton;
	transition: color 0.15s ease, border-color 0.15s linear;
	&:hover,
	&:focus,
	&:active {
		color: $white;
		border-color: $blue;
		background: $blue-skelton;
	}
	&:last-child {
		border-bottom: none;
	}

}

.listBtn {
	background: $black-skelton-thick;
	display: block;
	color: $white;
}


