/** グループページパーツ設定 **/
@import '../variable';

// 国名一覧の固定配置設定
.fixedBox {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;

	overflow: scroll;
	z-index: 10;
	animation: fadeIn 0.1s linear;
}

// 国名一覧設定
.navListArea {
	position: relative;
	top: 0;
	right:0;
	height: auto;
	width: auto;

	background: $white-skelton-thick;

	animation: fadeIn 0.1s linear;
}

// リストアイテム設定
.card {
	padding: 5px 10px;

	border-bottom: 1px solid $black-skelton;

	color: $black;

	text-align: left;
	text-decoration: none;

	cursor: pointer;
	transition: color 0.15s ease, border-color 0.15s linear;

	// 最後のリストアイテムの設定
	&:last-child {
		border-bottom: none;
	}

	&:hover,
	&:focus,
	&:active {
		color: $white;
		border-color: $blue;
		background: $blue-skelton;
	}

}

// 国名一覧の表示ボタン
.listBtn {
	display: block;

	background: $black-skelton-thick;
	color: $white;
}


