/** グループページパーツ設定 **/
@import '../variable';

// 国名一覧の固定配置設定
.fixedBox {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;

	overflow: scroll;
	z-index: 10;
	animation: fadeIn 0.1s linear;
}

// 国名一覧設定
.navListArea {
	position: relative;
	top: 0;
	right:0;
	height: auto;
	width: auto;

	background: $white-skelton-thick;

	animation: fadeIn 0.1s linear;
}

// リストアイテム設定
.card {
	border-bottom: 1px solid $black-skelton;

	color: $black;

	text-align: left;
	text-decoration: none;

	cursor: pointer;
	transition: color 0.15s ease, border-color 0.15s linear;

	&:hover,
	&:focus,
	&:active {
		color: $white;
		border-color: $blue;
		background: $blue-skelton;
	}

	&Wrap {
		padding: 5px 10px;
	}

	&Title {
		cursor: unset;
		background: $black-skelton;
		color: $white;
		&:hover,
		&:focus,
		&:active {
			border-color: $black;
			background: $black-skelton;
		}
	}

	input[type="radio"] {
		// ラジオボタンチェック時の設定
		&:checked + label {
			background: $blue;
			color: $white;

			// チェックマーク設定
			&:before {
				content: "✔︎";
				padding-right: 10px;
			}
		}
	}

	label {
		display: block;

		padding: 5px 10px;
	}

}

// 国名一覧の表示ボタン
.listBtn {
	display: block;

	padding: 5px 10px;

	background: $black-skelton-thick;
	color: $white;
}

// ランキングタイトル
.rankingTitle {
	font-size: 30px;
	border-bottom: 2px solid $black-skelton;
	padding: 0px 10px;
	@media (max-width: $sp-max-width) {
		font-size:  20px;
	}
}
