/** ナビゲーションエリア設定 **/
@import '../variable';

// グリッドボックス設定
.grid {
	max-width: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	margin: 0 auto;
}

// リストアイテム設定
.card {
	width: 120px;

	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	border: 1px solid $black-skelton;

	background: $white-skelton;

	text-align: center;
	text-decoration: none;

	cursor: pointer;
	transition: color 0.15s ease, border-color 0.15s linear;

	&:hover,
	&:focus,
	&:active {
		border-color: $blue;
		color: $white;
		background: $blue-skelton;
	}
}


