/** 検索ページ設定 **/
@import '../variable';

// アニメーション設定
@keyframes slideIn {
	0% {
		right: -1280px;
	}
	100% {
		right: 0;
	}
}
@keyframes slideOut {
	0% {
		right: 0;
	}
	100% {
		right: -1280px;
		opacity: 0;
	}
}

// 検索ボックスを非表示にした時の設定
.hide {
	animation: slideOut 0.3s linear;
}

// 検索ボックス
.searchBox {
	max-width: $screen-max-width;
	position: fixed;
	top: 7vh;
	right: 0;
	left: 0;

	padding: 10px;
	margin: auto;
	border-bottom: 1px solid $white-skelton;

	background: $blue-skelton;
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);

	z-index: 10;
	animation: slideIn 0.3s linear;

	// 検索ボックス表示ボタン
	&Btn {
		position: fixed;
		top: 0;
		right: 0;

		padding: 5px;
		border: 1px solid $white-skelton;

		background: $black-skelton-thick;
		color: $white;

		cursor: pointer;
		animation: fadeIn 0.1s linear;

		&:hover {
			background: $blue-skelton;
		}
	}

	// 検索ボックスのガイド文設定
	.attention {
		padding-bottom: 10px;

		color: $white;
	}

	// inputアイテムを繋ぐ文字列設定
	.additionalText {
		color: $white;
	}

	// inputアイテムのフレックス設定
	.flex {
		display: flex;
		justify-content: space-around;
		align-items: center;

		@media (max-width: $sp-max-width) {
			flex-direction: column;
		}
	}

	// inputアイテム用グリッドボックス
	.grid {

		// ラジオボタン用
		&Radio {
			width: 240px;

			padding: 10px;
			border-top: 1px solid $black-skelton;
			border-bottom: 1px solid $black-skelton;

			background: $white-skelton;

			overflow: scroll;

			@media (max-width: $sp-max-width) {
				width: 100%;
			}

			// スクロール設定
			&Scroll {
				width: 670px;
			}
		}

		// テキストボックス用
		&TextBox {
			text-align: center;
		}
	}

	// inputアイテム
	.input {

		// input：ラジオボタン
		&Radio {
			display: none;

			margin-right: 20px;

			// ラジオボタンチェック時の設定
			&:checked + .inputLabel{
				border: 2px solid $white-skelton;

				background: $blue;
				color: $white;

				// チェックマーク設定
				&:before {
					content: "✔︎";
					padding-right: 10px;
				}
			}
		}

		// inputアイテムに対応するラベル設定
		&Label {
			display: inline-block;
			width: 100px;

			padding: 10px;
			margin-right: 10px;
			border-radius: 8px;
			border: 1px solid $black-skelton;

			background: $white;

			text-align: center;

			cursor: pointer;
		}

		// input：テキストボックス
		&TextBox {
			width: 100%;

			padding: 10px;
			border-radius: 8px;
			border: 1px solid $black-skelton;
		}

		// 検索ボタン
		&SearchBtn {
			width: 100px;

			padding: 10px;
			border-radius: 8px;
			border: 1px solid $black-skelton;

			background: $white;

			cursor: pointer;

			&:hover {
				border: 1px solid $blue-skelton;

				background: $blue-skelton;
				color: $white;
			}
		}
	}
}

// エラーメッセージ設定
.alert {
	width: 50%;

	padding: 5px;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid $white;
	border-radius: 8px;

	background: $white-skelton;

	text-align: center;

	@media (max-width: $sp-max-width) {
		width: 100%;
	}
}
