/** 検索ページ設定 **/
@import '../variable';

.searchArea {
	padding: 10px;
	background: $blue-skelton;
	backdrop-filter: blur(30px);
	border-bottom: 1px solid $white-skelton;
	position: fixed;
	top: 7vh;
	right: 0;
	left: 0;
	margin: auto;
	max-width: $screen-max-width;

	&Btn {
		cursor: pointer;
		position: fixed;
		top: 0;
		right: 0;
		padding: 5px;
		background: $black-skelton-thick;
		border: 1px solid $white-skelton;
		color: $white;
		animation: fadeIn 0.1s linear;
		&:hover {
			background: $blue-skelton;
		}
	}

	.additionalText {
		color:$white;
	}

	.attention {
		color: $white;
		padding-bottom: 10px;
	}

	.flex {
		display: flex;
		justify-content: space-around;
		align-items: center;
		@media (max-width: $sp-max-width) {
			flex-direction: column;
		}
	}

	.grid {
		&Radio {
			overflow: scroll;
			width: 240px;
			padding: 10px;
			background: $white-skelton;
			border-top: 1px solid $black-skelton;
			border-bottom: 1px solid $black-skelton;
			@media (max-width: $sp-max-width) {
				width: 100%;
			}
			&Scroll {
				width: 670px;
			}
		}

		&TextBox {
			text-align: center;
		}
	}

	.input {

		&Radio {
			display: none;
			margin-right: 20px;
			&:checked + .inputLabel{
				background: $blue;
				border: 2px solid $white-skelton;
				color: $white;
				&:before {
					content: "✔︎";
					padding-right: 10px;
				}
			}
		}

		&Label {
			cursor: pointer;
			text-align: center;
			background: $white;
			padding: 10px;
			margin-right: 10px;
			border-radius: 8px;
			border: 1px solid $black-skelton;
			display: inline-block;
			width: 100px;
		}

		&TextBox {
			padding: 10px;
			width: 100%;
			border-radius: 8px;
			border: 1px solid $black-skelton;
		}

		&SearchBtn {
			cursor: pointer;
			padding: 10px;
			width: 100px;
			border-radius: 8px;
			border: 1px solid $black-skelton;
			background: $white;

			&:hover {
				color: $white;
				background: $blue-skelton;
				border: 1px solid $blue-skelton;
			}
		}
	}
}

.alert {
	text-align: center;
	padding: 5px;
	border: 1px solid $white;
	border-radius: 8px;
	background: $white-skelton;
	width: 50%;
	margin: 0 auto;
	margin-top: 10px;
	@media (max-width: $sp-max-width) {
		width: 100%;
	}
}
