/** 検索ページ設定 **/
@import '../variable';

.searchArea {
	padding: 10px;
	background: $blue-skelton;
	border-bottom: 1px solid $white-skelton;
	position: fixed;
	top: 7vh;
	right: 0;
	left: 0;
	margin: auto;

	&Btn {
		cursor: pointer;
		position: fixed;
		top: 0;
		right: 0;
		padding: 10px;
		background: $black-skelton-thick;
		border: 1px solid $white-skelton;
		color: $white;
		&:hover {
			background: $blue-skelton;
		}
	}

	.additionalText {
		color:$white;
	}

	.attention {
		color: $white;
		padding-bottom: 10px;
	}

	.flex {
		display: flex;
		justify-content: space-around;
		align-items: center;
		@media (max-width: $sp-max-width) {
			flex-direction: column;
		}
	}

	.grid {
		&Radio {
			overflow: scroll;
			width: 200px;
			&Scroll {
				width: 1200px;
			}
		}

		&TextBox {
			text-align: center;
		}
	}

	.input {

		&Radio {
			display: none;
			margin-right: 20px;
			&:checked + .inputLabel{
				background: $blue-skelton;
				border: 1px solid $blue-skelton;
				color: $white;
				&:before {
					content: "✔︎";
					padding-right: 10px;
				}
			}
		}

		&Label {
			text-align: center;
			background: $white;
			padding: 10px;
			margin-right: 20px;
			border-radius: 8px;
			border: 1px solid $black-skelton;
			display: inline-block;
			width: 15%;
		}

		&TextBox {
			padding: 10px;
			width: 100%;
			border-radius: 8px;
			border: 1px solid $black-skelton;
		}

		&SearchBtn {
			padding: 10px;
			width: 100px;
			border-radius: 8px;
			border: 1px solid $black-skelton;
			background: $white;

			&:hover {
				color: $white;
				background: $blue-skelton;
				border: 1px solid $blue-skelton;
			}
		}
	}
}
