/** 変数設定 **/
// width定義
$sp-max-width: 768px;
$screen-max-width: 1280px;
$screen-min-width: 330px;

// カラー定義
$white: white;
$black: black;
$blue: #0070f3;

$white-skelton: rgba(255, 255, 255, 0.4);
$black-skelton: rgba(0, 0, 0, 0.5);
$blue-skelton: rgba(0, 112, 243, 0.5);
$skelton: rgba(255, 255, 255, 0);

