/** 変数設定 **/
// width定義
$sp-max-width: 768px;
$screen-max-width: 1280px;
$screen-min-width: 330px;

// カラー定義
$white: white;
$black: black;
$blue: #0070f3;

$white-skelton: rgba(255, 255, 255, 0.4);
$white-skelton-thick: rgba(255, 255, 255, 0.8);
$black-skelton: rgba(0, 0, 0, 0.5);
$black-skelton-thick: rgba(0, 0, 0, 0.7);
$blue-skelton: rgba(0, 112, 243, 0.5);
$skelton: rgba(255, 255, 255, 0);

// アニメーション設定
@keyframes fadeIn {
	0% {
		right: -100px;
	}
	100% {
		right: 0;
	}
}
